@using WebApplication6.Model.Responses
@model List<DesignDistrictResponse>

<div action="container">
    @foreach (var design in Model)
    {
        <div class="card col-3">
            <div class="card-body">
                @design.Description

            </div>

        </div>
    }

</div>