@using WebApplication6.Model.Responses
@model List<DesignDistrictResponse>

<div action="container">
    @foreach (var design in Model)
    {
        <div class="card col-3">
            <div class="card-body">
                @design.Description
            </div>

        </div>
        <div class="buttons">
            <div class="main-button">
                <a href="#">Post</a>
            </div>
         <a asp-controller="DesignDistrict" asp-action="Delete" asp-route-id="@design.Id">Delete</a>
        </div>

     }
</div>


