@using WebApplication6.Model.Responses
@model List<DesignDistrictResponse>

<div class="container" style="margin-top:80px;">
    <div class="row">
@*         <a class="btn btn-primary" href="">New Post</a>
 *@        <div class="buttons">
            <div class="main-button">
                <a href="/DesignDistrict/PostDesign">New Posts</a>
            </div>
    </div>
    <div class="row">

        @foreach (var design in Model)
        {
            <div class="col-4 align-self-center mb-30 event_outer design wordpress">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="https://localhost:44310/@design.PostImage" alt=""></a>
                        <span class="category">@design.Catagory</span>

                            <span class="price"><h6 style="font-size: 7;">@design.TotalPrice<em style="font-size:5;">KD</em></h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">@design.Username</span>
                        <h4>@design.Description </h4>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
